.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

 /* Shared CSS*/
 .bg2 {
    background-color: #FFF8F3;
 }

.text-primary {
    color: #FD6E0A;
}
.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}
.dark-5 {
    color: #D1D1D1;
}

.main-button {
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about-description {
    font-size: 18px;
    color: #757575;
}
.text-center {
    text-align: center;
}

.section-margin {
    margin: 130px auto;
}

/*Header*/
header {
        background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* Nav */
Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
    }

nav ul li {
    list-style: none;
    margin: 30px;
}

nav ul a {
    text-decoration: none;
}


/* Hero Section */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 80px 0px 250px;
}
.banner-content {
    max-width: 580px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin: 0px;
        }

.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin: 0px;
}

.banner-description {
    color: #474747;
}

.heroimage {
display: flex;
}

/*Main Section*/
.main{
    width: 1180px;
    margin: 0 auto;
    padding: 230px auto;
}

/*About Me*/
.aboutme {
    text-align: center;
    background-color: #FFF8F3;
    padding: 120px 140px;
}

.aboutinfo {
    display: flex;
    justify-content: space-around;

}

.item-description {
    font-weight: 800;
}

/*Skill Section*/
.skill-container {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    }
.skill-box {
    padding: 30px;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.06);
}

/*Resume Section*/
.resume-colume {
    display: flex;
    gap: 30px;
}
.resume-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.experience-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience-subtitle {
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
}
.experience-description {
    font-size: 16px;
    color: #757575;    
}

.resume-hr {
    color: #D1D1D1;
}
.resume-button {
    align-content: center;
}
.buttoncv {
    margin-top: 30px;
}

/*Footer*/
footer {
    display: flex;
    padding: 130px 230px;
    gap: 100px;
} 
footer input[type="text"], [type="email"], textarea {
    height: 60px;
    border-radius: 5px;
    background-color: white;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}